@import 'https://fonts.googleapis.com/css?family=Lato:400,700';

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body{
    background-color: aliceblue;
    font-family: 'Lato', sans-serif;
}

#page-wrapper{
    position: relative;
}

a{
    list-style: none;
}

header {
    position: fixed;
    top: 0;
    min-height: 75px;
    padding: 0px 20px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    background-color: #eee;
}
  
@media (max-width: 600px) {
    header {
      flex-wrap: wrap;
    }
}





.button{
    padding: 0, 20px;
    height: 40px;
    font-size: 1em;
    font-weight: 900;
    text-transform: uppercase;
    border: 3px black;
    border-radius: 2px;
    cursor: pointer;
}

.containter{
    max-width: 1000px;
    width: 100%;
    margin: auto;
}